.active{
    color: red;
}

.navbar-logo-luca {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  border-radius:50%;
}

.bg-homepage-luca{
    background-image: url(./assets/homepage.jpg);
    height: 100vh;
  background-size: cover;
}

.h-100vh-luca{
       height: 100vh;
}